* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0 30px;
}

.name {
  font-size: 25px;
  font-weight: 500;
  margin: 20px 0;
}

.label {
  font-size: 15px;
  color: rgb(80, 173, 80);
  margin: 20px 0;
}
