:root {
  --primary-color: rgb(80, 173, 80);
  --secondary-color: rgb(3, 119, 242);
  --border-color: black;
  --hr-color: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
}

body {
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.resume {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 20px 0;
  min-height: 90vh;
  width: 100%;
  max-width: 600px;
  min-width: 320px;
}

hr {
  height: 7px;
  width: 70%;
  background-color: var(--hr-color);
  border: 0;
  border-radius: 10px;
}

.name {
  font-size: clamp(20px, 2vw, 25px);
  font-weight: 600;
  margin: 20px 0;
}

.label {
  color: var(--primary-color);
  margin: 20px 0 10px 0;
}

h2,
h3,
p {
  font-size: clamp(13px, 1.5vw, 15px);
  line-height: 1.5;
}

.colegio > h3,
.universidad > h3 {
  color: var(--secondary-color);
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgb(120, 223, 120);
    --secondary-color: rgb(100, 169, 242);
    --border-color: rgba(255, 255, 255, 0.7);
    --hr-color: rgba(255, 255, 255, 0.2);
  }

  body {
    background-color: #121212;
    color: #ffffff;
  }
}

@media (max-width: 768px) {
  .resume {
    padding: 20px;
    height: auto;
  }

  .name {
    font-size: 20px;
  }

  h2,
  h3,
  p {
    font-size: 13px;
  }
}
